# Data Job Postings Analysis

In this case study, we will analyze a dataset of job postings for data science and analytics roles. The dataset contains various columns such as job title, company, location, salary, job description, and required skills. However, some columns may have mostly missing values, which we will need to handle during preprocessing. For example, most companies may prefer not to disclose salary information, resulting in a column with many null values.

In [1]:
import polars as pl

## Load Dataset

The dataset is uploaded to a GitHub repository for convenience. You can also access the original dataset on Hugging Face Datasets at [`lukebarousse/data_jobs`](https://huggingface.co/datasets/lukebarousse/data_jobs). The original CSV file is quite large (~230 MB) due to the large number of rows and text fields, but it has been converted to Parquet format for this case study, which significantly reduces the file size to ~30 MB while preserving all data.

In [2]:
df = pl.read_parquet(
    "https://github.com/bdi593/datasets/raw/refs/heads/main/data-jobs/data_jobs.parquet"
)
df

shape: (785_741, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ job_title ┆ job_title ┆ job_locat ┆ job_via   ┆ … ┆ salary_ho ┆ company_n ┆ job_skill ┆ job_type │
│ _short    ┆ ---       ┆ ion       ┆ ---       ┆   ┆ ur_avg    ┆ ame       ┆ s         ┆ _skills  │
│ ---       ┆ str       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆           ┆ str       ┆           ┆   ┆ f64       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Senior    ┆ Senior    ┆ Watertown ┆ via Work  ┆ … ┆ null      ┆ Boehringe ┆ null      ┆ null     │
│ Data      ┆ Clinical  ┆ , CT      ┆ Nearby    ┆   ┆           ┆ r         ┆           ┆          │
│ Engineer  ┆ Data      ┆           ┆           ┆   ┆           ┆ Ingelheim ┆           ┆          │
│           ┆ Engineer  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ …         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Data      ┆ Data      ┆ Guadalaja ┆ via BeBee ┆ … ┆ null      ┆ Hewlett   ┆ ['r',     ┆ {'analys │
│ Analyst   ┆ Analyst   ┆ ra,       ┆ México    ┆   ┆           ┆ Packard   ┆ 'python', ┆ t_tools' │
│           ┆           ┆ Jalisco,  ┆           ┆   ┆           ┆ Enterpris ┆ 'sql',    ┆ :        │
│           ┆           ┆ Mexico    ┆           ┆   ┆           ┆ e         ┆ 'nosql'…  ┆ ['power  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ bi',…    │
│ Data      ┆ Data Engi ┆ Berlin,   ┆ via       ┆ … ┆ null      ┆ ALPHA     ┆ ['python' ┆ {'analys │
│ Engineer  ┆ neer/Scie ┆ Germany   ┆ LinkedIn  ┆   ┆           ┆ Augmented ┆ , 'sql',  ┆ t_tools' │
│           ┆ ntist/Ana ┆           ┆           ┆   ┆           ┆ Services  ┆ 'c#',     ┆ :        │
│           ┆ lys…      ┆           ┆           ┆   ┆           ┆           ┆ 'azure…   ┆ ['dax'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'cl…     │
│ Data      ┆ LEAD      ┆ San       ┆ via Diver ┆ … ┆ null      ┆ Southwest ┆ ['python' ┆ {'cloud' │
│ Engineer  ┆ ENGINEER  ┆ Antonio,  ┆ sity.com  ┆   ┆           ┆ Research  ┆ , 'c++',  ┆ :        │
│           ┆ -         ┆ TX        ┆           ┆   ┆           ┆ Institute ┆ 'java',   ┆ ['aws'], │
│           ┆ PRINCIPAL ┆           ┆           ┆   ┆           ┆           ┆ 'mat…     ┆ 'librari │
│           ┆ ANAL…     ┆           ┆           ┆   ┆           ┆           ┆           ┆ es'…     │
│ Data      ┆ Data      ┆ Washingto ┆ via       ┆ … ┆ null      ┆ Kristina  ┆ ['bash',  ┆ {'cloud' │
│ Engineer  ┆ Engineer- ┆ n, DC     ┆ Clearance ┆   ┆           ┆ Daniel    ┆ 'python', ┆ : ['orac │
│           ┆ Sr Jobs   ┆           ┆ Jobs      ┆   ┆           ┆           ┆ 'oracle', ┆ le',     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ '…        ┆ 'aws'],  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ '…       │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ Software  ┆ DevOps    ┆ Singapura ┆ melalui   ┆ … ┆ null      ┆ CAREERSTA ┆ ['bash',  ┆ {'os':   │
│ Engineer  ┆ Engineer  ┆           ┆ Trabajo.o ┆   ┆           ┆ R INTERNA ┆ 'python', ┆ ['linux' │
│           ┆           ┆           ┆ rg        ┆   ┆           ┆ TIONAL    ┆ 'perl',   ┆ ,        │
│           ┆           ┆           ┆           ┆   ┆           ┆ PTE. …    ┆ 'li…      ┆ 'unix'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'oth…    │
│ Data      ┆ CRM Data  ┆ Bad       ┆ melalui   ┆ … ┆ null      ┆ HABA FAMI ┆ ['sas',   ┆ {'analys │
│ Analyst   ┆ Analyst   ┆ Rodach,   ┆ BeBee Deu ┆   ┆           ┆ LYGROUP   ┆ 'sas',    ┆ t_tools' │
│           ┆           ┆ Jerman    ┆ tschland  ┆   ┆           ┆           ┆ 'sql',    ┆ :        │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 'excel']  ┆ ['sas',  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'exc…    │
│ Business  ┆ Commercia ┆ Malaysia  ┆ melalui   ┆ … ┆ null      ┆ Lendlease ┆ ['powerpo ┆ {'analys │
│ Analyst   ┆ l Analyst ┆           ┆ Ricebowl  ┆   ┆           ┆ Corporati ┆ int',     ┆ t_tools' │
│           ┆ - Start   ┆           ┆           ┆   ┆           ┆ on        ┆ 'excel']  ┆ : ['powe │
│           ┆ Now       ┆           ┆           ┆   ┆           ┆           ┆           ┆ rpoint…  │
│ Data      ┆ Principal ┆ Newark,   ┆ melalui   ┆ … ┆ null      ┆ Capital   ┆ ['python' ┆ {'cloud' │
│ Engineer  ┆ Associate ┆ New       ┆ Recruit.n ┆   ┆           ┆ One       ┆ , 'go',   ┆ :        │
│           ┆ , Data    ┆ Jersey,   ┆ et        ┆   ┆           ┆           ┆ 'nosql',  ┆ ['aws',  │
│           ┆ Engi…     ┆ Amerika   ┆           ┆   ┆           ┆           ┆ 'sql…     ┆ 'snowfla │
│           ┆           ┆ Se…       ┆           ┆   ┆           ┆           ┆           ┆ ke',…    │
│ Software  ┆ AWS       ┆ India     ┆ melalui   ┆ … ┆ null      ┆ Trigyn    ┆ ['aws',   ┆ {'cloud' │
│ Engineer  ┆ System    ┆           ┆ Trigyn    ┆   ┆           ┆           ┆ 'flow']   ┆ :        │
│           ┆ Analyst   ┆           ┆           ┆   ┆           ┆           ┆           ┆ ['aws'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'other': │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ['…      │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

### Check the Number of Rows

The number of rows and columns in the dataset can be checked using the `shape` attribute of the Polars DataFrame. The `shape` attribute returns a tuple containing the number of rows and columns in the DataFrame.

In [3]:
df.shape

(785741, 17)

### Check Schema

Check the schema to understand the data types of each column.

In [4]:
df.schema

Schema([('job_title_short', String),
        ('job_title', String),
        ('job_location', String),
        ('job_via', String),
        ('job_schedule_type', String),
        ('job_work_from_home', Boolean),
        ('search_location', String),
        ('job_posted_date', String),
        ('job_no_degree_mention', Boolean),
        ('job_health_insurance', Boolean),
        ('job_country', String),
        ('salary_rate', String),
        ('salary_year_avg', Float64),
        ('salary_hour_avg', Float64),
        ('company_name', String),
        ('job_skills', String),
        ('job_type_skills', String)])

### Check Missing Values

Check the number of missing values.

In [5]:
df.null_count()

shape: (1, 17)
┌────────────┬───────────┬───────────┬─────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ job_title_ ┆ job_title ┆ job_locat ┆ job_via ┆ … ┆ salary_ho ┆ company_n ┆ job_skill ┆ job_type_ │
│ short      ┆ ---       ┆ ion       ┆ ---     ┆   ┆ ur_avg    ┆ ame       ┆ s         ┆ skills    │
│ ---        ┆ u32       ┆ ---       ┆ u32     ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ u32        ┆           ┆ u32       ┆         ┆   ┆ u32       ┆ u32       ┆ u32       ┆ u32       │
╞════════════╪═══════════╪═══════════╪═════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 0          ┆ 1         ┆ 1045      ┆ 8       ┆ … ┆ 775079    ┆ 1         ┆ 117037    ┆ 117037    │
└────────────┴───────────┴───────────┴─────────┴───┴───────────┴───────────┴───────────┴───────────┘

The output is in a "wide" format, which makes it difficult to compare the number of missing values across columns. We can transpose the output to make it easier to read and analyze.

In [6]:
df.null_count().transpose(include_header=True)

shape: (17, 2)
┌───────────────────┬──────────┐
│ column            ┆ column_0 │
│ ---               ┆ ---      │
│ str               ┆ u32      │
╞═══════════════════╪══════════╡
│ job_title_short   ┆ 0        │
│ job_title         ┆ 1        │
│ job_location      ┆ 1045     │
│ job_via           ┆ 8        │
│ job_schedule_type ┆ 12667    │
│ …                 ┆ …        │
│ salary_year_avg   ┆ 763738   │
│ salary_hour_avg   ┆ 775079   │
│ company_name      ┆ 1        │
│ job_skills        ┆ 117037   │
│ job_type_skills   ┆ 117037   │
└───────────────────┴──────────┘

We can go one step further and only display columns with one or more missing values to focus our attention on the columns that require preprocessing.

In [7]:
(
    df.null_count()
    .transpose(include_header=True, header_name="column", column_names=["null_count"])
    .filter(pl.col("null_count") > 0)
)

shape: (11, 2)
┌───────────────────┬────────────┐
│ column            ┆ null_count │
│ ---               ┆ ---        │
│ str               ┆ u32        │
╞═══════════════════╪════════════╡
│ job_title         ┆ 1          │
│ job_location      ┆ 1045       │
│ job_via           ┆ 8          │
│ job_schedule_type ┆ 12667      │
│ job_country       ┆ 49         │
│ …                 ┆ …          │
│ salary_year_avg   ┆ 763738     │
│ salary_hour_avg   ┆ 775079     │
│ company_name      ┆ 1          │
│ job_skills        ┆ 117037     │
│ job_type_skills   ┆ 117037     │
└───────────────────┴────────────┘

While the output is helpful, the number of rows displayed in the output is limited to 10 rows by default by Polars. There are more columns with missing values that are not displayed in the output. To see all columns with missing values, we can temporarily set the maximum number of rows to display to a higher value, such as 50, to ensure that all columns with missing values are shown in the output.

In [8]:
# Display up to 50 rows of the null count table
with pl.Config(tbl_rows=50):
    display(
        (
            df.null_count()
            .transpose(
                include_header=True, header_name="column", column_names=["null_count"]
            )
            .filter(pl.col("null_count") > 0)
        )
    )

shape: (11, 2)
┌───────────────────┬────────────┐
│ column            ┆ null_count │
│ ---               ┆ ---        │
│ str               ┆ u32        │
╞═══════════════════╪════════════╡
│ job_title         ┆ 1          │
│ job_location      ┆ 1045       │
│ job_via           ┆ 8          │
│ job_schedule_type ┆ 12667      │
│ job_country       ┆ 49         │
│ salary_rate       ┆ 752674     │
│ salary_year_avg   ┆ 763738     │
│ salary_hour_avg   ┆ 775079     │
│ company_name      ┆ 1          │
│ job_skills        ┆ 117037     │
│ job_type_skills   ┆ 117037     │
└───────────────────┴────────────┘

:::{tip} What does the `with` statement do in Python?

The `with` statement in Python is used to wrap the execution of a block of code with methods defined by a context manager. It is commonly used for resource management, such as opening files or managing database connections, ensuring that resources are properly released after their use, even if an error occurs.

In the code example above, the `with` statement is used to temporarily set the maximum number of rows displayed in the output to 50. This means that when the block of code inside the `with` statement is executed, 50 rows of the DataFrame will be shown in the output, regardless of how many rows are actually in the DataFrame. After the block of code is executed, the maximum number of rows displayed will return to its previous setting.

The default maximum number of rows displayed in Polars is 10, so using the `with` statement allows you to temporarily change this setting for a specific block of code without affecting the global configuration.

:::

### Drop Rows with Missing Job Title

There is one row with a null value in the `job_title` column. Filter the DataFrame to show only this row.

In [9]:
df.filter(df["job_title"].is_null())

shape: (1, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ job_title ┆ job_title ┆ job_locat ┆ job_via   ┆ … ┆ salary_ho ┆ company_n ┆ job_skill ┆ job_type │
│ _short    ┆ ---       ┆ ion       ┆ ---       ┆   ┆ ur_avg    ┆ ame       ┆ s         ┆ _skills  │
│ ---       ┆ str       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆           ┆ str       ┆           ┆   ┆ f64       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Data      ┆ null      ┆ null      ┆ via Jobs  ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ Engineer  ┆           ┆           ┆ In France ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ - Mustakb ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ il…       ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

The dataset has over 780,000 rows, but only one row has a null value in the `job_title` and the `company` column.

In [10]:
df.filter(pl.col("job_skills").is_not_null()).select(pl.col("job_skills")).row(0)

("['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']",)

The `"job_skills"` column is stored as a string that looks like a list, but it is not actually a list data type. To convert it to a list, we can use the `str.replace_all()` method to replace single quotes with double quotes, and then use the `str.json_decode()` method to parse the string as JSON. This will give us a proper list of skills for each job.

:::{tip} Why do we need to replace single quotes with double quotes before parsing the string as JSON?

The JSON format requires that string values be enclosed in double quotes. If the string uses single quotes, it will not be valid JSON and the `str.json_decode()` method will fail to parse it correctly. By replacing single quotes with double quotes, we ensure that the string conforms to the JSON format, allowing us to successfully decode it into a list data type.

:::

In [11]:
df.with_columns(
    pl.when(pl.col("job_skills").is_not_null())
    .then(
        pl.col("job_skills")
        .str.replace_all("'", '"')
        .str.json_decode(dtype=pl.List(pl.Utf8))
    )
    .otherwise(None)
    .alias("job_skills")
)

shape: (785_741, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ job_title ┆ job_title ┆ job_locat ┆ job_via   ┆ … ┆ salary_ho ┆ company_n ┆ job_skill ┆ job_type │
│ _short    ┆ ---       ┆ ion       ┆ ---       ┆   ┆ ur_avg    ┆ ame       ┆ s         ┆ _skills  │
│ ---       ┆ str       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆           ┆ str       ┆           ┆   ┆ f64       ┆ str       ┆ list[str] ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Senior    ┆ Senior    ┆ Watertown ┆ via Work  ┆ … ┆ null      ┆ Boehringe ┆ null      ┆ null     │
│ Data      ┆ Clinical  ┆ , CT      ┆ Nearby    ┆   ┆           ┆ r         ┆           ┆          │
│ Engineer  ┆ Data      ┆           ┆           ┆   ┆           ┆ Ingelheim ┆           ┆          │
│           ┆ Engineer  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ …         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Data      ┆ Data      ┆ Guadalaja ┆ via BeBee ┆ … ┆ null      ┆ Hewlett   ┆ ["r",     ┆ {'analys │
│ Analyst   ┆ Analyst   ┆ ra,       ┆ México    ┆   ┆           ┆ Packard   ┆ "python", ┆ t_tools' │
│           ┆           ┆ Jalisco,  ┆           ┆   ┆           ┆ Enterpris ┆ … "tablea ┆ :        │
│           ┆           ┆ Mexico    ┆           ┆   ┆           ┆ e         ┆ u"]       ┆ ['power  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ bi',…    │
│ Data      ┆ Data Engi ┆ Berlin,   ┆ via       ┆ … ┆ null      ┆ ALPHA     ┆ ["python" ┆ {'analys │
│ Engineer  ┆ neer/Scie ┆ Germany   ┆ LinkedIn  ┆   ┆           ┆ Augmented ┆ , "sql",  ┆ t_tools' │
│           ┆ ntist/Ana ┆           ┆           ┆   ┆           ┆ Services  ┆ … "jenkin ┆ :        │
│           ┆ lys…      ┆           ┆           ┆   ┆           ┆           ┆ s"]       ┆ ['dax'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'cl…     │
│ Data      ┆ LEAD      ┆ San       ┆ via Diver ┆ … ┆ null      ┆ Southwest ┆ ["python" ┆ {'cloud' │
│ Engineer  ┆ ENGINEER  ┆ Antonio,  ┆ sity.com  ┆   ┆           ┆ Research  ┆ , "c++",  ┆ :        │
│           ┆ -         ┆ TX        ┆           ┆   ┆           ┆ Institute ┆ … "pytorc ┆ ['aws'], │
│           ┆ PRINCIPAL ┆           ┆           ┆   ┆           ┆           ┆ h"]       ┆ 'librari │
│           ┆ ANAL…     ┆           ┆           ┆   ┆           ┆           ┆           ┆ es'…     │
│ Data      ┆ Data      ┆ Washingto ┆ via       ┆ … ┆ null      ┆ Kristina  ┆ ["bash",  ┆ {'cloud' │
│ Engineer  ┆ Engineer- ┆ n, DC     ┆ Clearance ┆   ┆           ┆ Daniel    ┆ "python", ┆ : ['orac │
│           ┆ Sr Jobs   ┆           ┆ Jobs      ┆   ┆           ┆           ┆ … "git"]  ┆ le',     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'aws'],  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ '…       │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ Software  ┆ DevOps    ┆ Singapura ┆ melalui   ┆ … ┆ null      ┆ CAREERSTA ┆ ["bash",  ┆ {'os':   │
│ Engineer  ┆ Engineer  ┆           ┆ Trabajo.o ┆   ┆           ┆ R INTERNA ┆ "python", ┆ ['linux' │
│           ┆           ┆           ┆ rg        ┆   ┆           ┆ TIONAL    ┆ … "ansibl ┆ ,        │
│           ┆           ┆           ┆           ┆   ┆           ┆ PTE. …    ┆ e"…       ┆ 'unix'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'oth…    │
│ Data      ┆ CRM Data  ┆ Bad       ┆ melalui   ┆ … ┆ null      ┆ HABA FAMI ┆ ["sas",   ┆ {'analys │
│ Analyst   ┆ Analyst   ┆ Rodach,   ┆ BeBee Deu ┆   ┆           ┆ LYGROUP   ┆ "sas", …  ┆ t_tools' │
│           ┆           ┆ Jerman    ┆ tschland  ┆   ┆           ┆           ┆ "excel"]  ┆ :        │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ['sas',  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'exc…    │
│ Business  ┆ Commercia ┆ Malaysia  ┆ melalui   ┆ … ┆ null      ┆ Lendlease ┆ ["powerpo ┆ {'analys │
│ Analyst   ┆ l Analyst ┆           ┆ Ricebowl  ┆   ┆           ┆ Corporati ┆ int",     ┆ t_tools' │
│           ┆ - Start   ┆           ┆           ┆   ┆           ┆ on        ┆ "excel"]  ┆ : ['powe │
│           ┆ Now       ┆           ┆           ┆   ┆           ┆           ┆           ┆ rpoint…  │
│ Data      ┆ Principal ┆ Newark,   ┆ melalui   ┆ … ┆ null      ┆ Capital   ┆ ["python" ┆ {'cloud' │
│ Engineer  ┆ Associate ┆ New       ┆ Recruit.n ┆   ┆           ┆ One       ┆ , "go", … ┆ :        │
│           ┆ , Data    ┆ Jersey,   ┆ et        ┆   ┆           ┆           ┆ "docker"] ┆ ['aws',  │
│           ┆ Engi…     ┆ Amerika   ┆           ┆   ┆           ┆           ┆           ┆ 'snowfla │
│           ┆           ┆ Se…       ┆           ┆   ┆           ┆           ┆           ┆ ke',…    │
│ Software  ┆ AWS       ┆ India     ┆ melalui   ┆ … ┆ null      ┆ Trigyn    ┆ ["aws",   ┆ {'cloud' │
│ Engineer  ┆ System    ┆           ┆ Trigyn    ┆   ┆           ┆           ┆ "flow"]   ┆ :        │
│           ┆ Analyst   ┆           ┆           ┆   ┆           ┆           ┆           ┆ ['aws'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'other': │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ['…      │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [12]:
print(df["job_type_skills"][0])

None

The first item in the `"job_type_skills"` column is a missing value, which is represented as `None` in Polars.

To find the first non-null value in the `"job_skills"` column, we can filter the DataFrame to include only rows where `"job_skills"` is not null, select the `"job_skills"` column, and then retrieve the first item from that selection. This will give us the first non-null value in the `"job_skills"` column.

In [13]:
df.filter()

shape: (785_741, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ job_title ┆ job_title ┆ job_locat ┆ job_via   ┆ … ┆ salary_ho ┆ company_n ┆ job_skill ┆ job_type │
│ _short    ┆ ---       ┆ ion       ┆ ---       ┆   ┆ ur_avg    ┆ ame       ┆ s         ┆ _skills  │
│ ---       ┆ str       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆           ┆ str       ┆           ┆   ┆ f64       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Senior    ┆ Senior    ┆ Watertown ┆ via Work  ┆ … ┆ null      ┆ Boehringe ┆ null      ┆ null     │
│ Data      ┆ Clinical  ┆ , CT      ┆ Nearby    ┆   ┆           ┆ r         ┆           ┆          │
│ Engineer  ┆ Data      ┆           ┆           ┆   ┆           ┆ Ingelheim ┆           ┆          │
│           ┆ Engineer  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ …         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Data      ┆ Data      ┆ Guadalaja ┆ via BeBee ┆ … ┆ null      ┆ Hewlett   ┆ ['r',     ┆ {'analys │
│ Analyst   ┆ Analyst   ┆ ra,       ┆ México    ┆   ┆           ┆ Packard   ┆ 'python', ┆ t_tools' │
│           ┆           ┆ Jalisco,  ┆           ┆   ┆           ┆ Enterpris ┆ 'sql',    ┆ :        │
│           ┆           ┆ Mexico    ┆           ┆   ┆           ┆ e         ┆ 'nosql'…  ┆ ['power  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ bi',…    │
│ Data      ┆ Data Engi ┆ Berlin,   ┆ via       ┆ … ┆ null      ┆ ALPHA     ┆ ['python' ┆ {'analys │
│ Engineer  ┆ neer/Scie ┆ Germany   ┆ LinkedIn  ┆   ┆           ┆ Augmented ┆ , 'sql',  ┆ t_tools' │
│           ┆ ntist/Ana ┆           ┆           ┆   ┆           ┆ Services  ┆ 'c#',     ┆ :        │
│           ┆ lys…      ┆           ┆           ┆   ┆           ┆           ┆ 'azure…   ┆ ['dax'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'cl…     │
│ Data      ┆ LEAD      ┆ San       ┆ via Diver ┆ … ┆ null      ┆ Southwest ┆ ['python' ┆ {'cloud' │
│ Engineer  ┆ ENGINEER  ┆ Antonio,  ┆ sity.com  ┆   ┆           ┆ Research  ┆ , 'c++',  ┆ :        │
│           ┆ -         ┆ TX        ┆           ┆   ┆           ┆ Institute ┆ 'java',   ┆ ['aws'], │
│           ┆ PRINCIPAL ┆           ┆           ┆   ┆           ┆           ┆ 'mat…     ┆ 'librari │
│           ┆ ANAL…     ┆           ┆           ┆   ┆           ┆           ┆           ┆ es'…     │
│ Data      ┆ Data      ┆ Washingto ┆ via       ┆ … ┆ null      ┆ Kristina  ┆ ['bash',  ┆ {'cloud' │
│ Engineer  ┆ Engineer- ┆ n, DC     ┆ Clearance ┆   ┆           ┆ Daniel    ┆ 'python', ┆ : ['orac │
│           ┆ Sr Jobs   ┆           ┆ Jobs      ┆   ┆           ┆           ┆ 'oracle', ┆ le',     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ '…        ┆ 'aws'],  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ '…       │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ Software  ┆ DevOps    ┆ Singapura ┆ melalui   ┆ … ┆ null      ┆ CAREERSTA ┆ ['bash',  ┆ {'os':   │
│ Engineer  ┆ Engineer  ┆           ┆ Trabajo.o ┆   ┆           ┆ R INTERNA ┆ 'python', ┆ ['linux' │
│           ┆           ┆           ┆ rg        ┆   ┆           ┆ TIONAL    ┆ 'perl',   ┆ ,        │
│           ┆           ┆           ┆           ┆   ┆           ┆ PTE. …    ┆ 'li…      ┆ 'unix'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'oth…    │
│ Data      ┆ CRM Data  ┆ Bad       ┆ melalui   ┆ … ┆ null      ┆ HABA FAMI ┆ ['sas',   ┆ {'analys │
│ Analyst   ┆ Analyst   ┆ Rodach,   ┆ BeBee Deu ┆   ┆           ┆ LYGROUP   ┆ 'sas',    ┆ t_tools' │
│           ┆           ┆ Jerman    ┆ tschland  ┆   ┆           ┆           ┆ 'sql',    ┆ :        │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 'excel']  ┆ ['sas',  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'exc…    │
│ Business  ┆ Commercia ┆ Malaysia  ┆ melalui   ┆ … ┆ null      ┆ Lendlease ┆ ['powerpo ┆ {'analys │
│ Analyst   ┆ l Analyst ┆           ┆ Ricebowl  ┆   ┆           ┆ Corporati ┆ int',     ┆ t_tools' │
│           ┆ - Start   ┆           ┆           ┆   ┆           ┆ on        ┆ 'excel']  ┆ : ['powe │
│           ┆ Now       ┆           ┆           ┆   ┆           ┆           ┆           ┆ rpoint…  │
│ Data      ┆ Principal ┆ Newark,   ┆ melalui   ┆ … ┆ null      ┆ Capital   ┆ ['python' ┆ {'cloud' │
│ Engineer  ┆ Associate ┆ New       ┆ Recruit.n ┆   ┆           ┆ One       ┆ , 'go',   ┆ :        │
│           ┆ , Data    ┆ Jersey,   ┆ et        ┆   ┆           ┆           ┆ 'nosql',  ┆ ['aws',  │
│           ┆ Engi…     ┆ Amerika   ┆           ┆   ┆           ┆           ┆ 'sql…     ┆ 'snowfla │
│           ┆           ┆ Se…       ┆           ┆   ┆           ┆           ┆           ┆ ke',…    │
│ Software  ┆ AWS       ┆ India     ┆ melalui   ┆ … ┆ null      ┆ Trigyn    ┆ ['aws',   ┆ {'cloud' │
│ Engineer  ┆ System    ┆           ┆ Trigyn    ┆   ┆           ┆           ┆ 'flow']   ┆ :        │
│           ┆ Analyst   ┆           ┆           ┆   ┆           ┆           ┆           ┆ ['aws'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'other': │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ['…      │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [14]:
df.select(pl.col("job_type_skills").drop_nulls().first()).item()

"{'analyst_tools': ['power bi', 'tableau'], 'programming': ['r', 'python', 'sql', 'nosql']}"