# Data Job Postings Analysis

In this case study, we will analyze a dataset of job postings for data science and analytics roles. The dataset contains various columns such as job title, company, location, salary, job description, and required skills. However, some columns may have mostly missing values, which we will need to handle during preprocessing. For example, most companies may prefer not to disclose salary information, resulting in a column with many null values.

In [1]:
import polars as pl

## Load Dataset

The dataset is uploaded to a GitHub repository for convenience. You can also access the original dataset on Hugging Face Datasets at [`lukebarousse/data_jobs`](https://huggingface.co/datasets/lukebarousse/data_jobs). The original CSV file is quite large (~230 MB) due to the large number of rows and text fields, but it has been converted to Parquet format for this case study, which significantly reduces the file size to ~30 MB while preserving all data.

In [2]:
df = pl.read_parquet(
    "https://github.com/bdi593/datasets/raw/refs/heads/main/data-jobs/data_jobs.parquet"
)
df

shape: (785_741, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ job_title ┆ job_title ┆ job_locat ┆ job_via   ┆ … ┆ salary_ho ┆ company_n ┆ job_skill ┆ job_type │
│ _short    ┆ ---       ┆ ion       ┆ ---       ┆   ┆ ur_avg    ┆ ame       ┆ s         ┆ _skills  │
│ ---       ┆ str       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆           ┆ str       ┆           ┆   ┆ f64       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Senior    ┆ Senior    ┆ Watertown ┆ via Work  ┆ … ┆ null      ┆ Boehringe ┆ null      ┆ null     │
│ Data      ┆ Clinical  ┆ , CT      ┆ Nearby    ┆   ┆           ┆ r         ┆           ┆          │
│ Engineer  ┆ Data      ┆           ┆           ┆   ┆           ┆ Ingelheim ┆           ┆          │
│           ┆ Engineer  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ …         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Data      ┆ Data      ┆ Guadalaja ┆ via BeBee ┆ … ┆ null      ┆ Hewlett   ┆ ['r',     ┆ {'analys │
│ Analyst   ┆ Analyst   ┆ ra,       ┆ México    ┆   ┆           ┆ Packard   ┆ 'python', ┆ t_tools' │
│           ┆           ┆ Jalisco,  ┆           ┆   ┆           ┆ Enterpris ┆ 'sql',    ┆ :        │
│           ┆           ┆ Mexico    ┆           ┆   ┆           ┆ e         ┆ 'nosql'…  ┆ ['power  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ bi',…    │
│ Data      ┆ Data Engi ┆ Berlin,   ┆ via       ┆ … ┆ null      ┆ ALPHA     ┆ ['python' ┆ {'analys │
│ Engineer  ┆ neer/Scie ┆ Germany   ┆ LinkedIn  ┆   ┆           ┆ Augmented ┆ , 'sql',  ┆ t_tools' │
│           ┆ ntist/Ana ┆           ┆           ┆   ┆           ┆ Services  ┆ 'c#',     ┆ :        │
│           ┆ lys…      ┆           ┆           ┆   ┆           ┆           ┆ 'azure…   ┆ ['dax'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'cl…     │
│ Data      ┆ LEAD      ┆ San       ┆ via Diver ┆ … ┆ null      ┆ Southwest ┆ ['python' ┆ {'cloud' │
│ Engineer  ┆ ENGINEER  ┆ Antonio,  ┆ sity.com  ┆   ┆           ┆ Research  ┆ , 'c++',  ┆ :        │
│           ┆ -         ┆ TX        ┆           ┆   ┆           ┆ Institute ┆ 'java',   ┆ ['aws'], │
│           ┆ PRINCIPAL ┆           ┆           ┆   ┆           ┆           ┆ 'mat…     ┆ 'librari │
│           ┆ ANAL…     ┆           ┆           ┆   ┆           ┆           ┆           ┆ es'…     │
│ Data      ┆ Data      ┆ Washingto ┆ via       ┆ … ┆ null      ┆ Kristina  ┆ ['bash',  ┆ {'cloud' │
│ Engineer  ┆ Engineer- ┆ n, DC     ┆ Clearance ┆   ┆           ┆ Daniel    ┆ 'python', ┆ : ['orac │
│           ┆ Sr Jobs   ┆           ┆ Jobs      ┆   ┆           ┆           ┆ 'oracle', ┆ le',     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ '…        ┆ 'aws'],  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ '…       │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ Software  ┆ DevOps    ┆ Singapura ┆ melalui   ┆ … ┆ null      ┆ CAREERSTA ┆ ['bash',  ┆ {'os':   │
│ Engineer  ┆ Engineer  ┆           ┆ Trabajo.o ┆   ┆           ┆ R INTERNA ┆ 'python', ┆ ['linux' │
│           ┆           ┆           ┆ rg        ┆   ┆           ┆ TIONAL    ┆ 'perl',   ┆ ,        │
│           ┆           ┆           ┆           ┆   ┆           ┆ PTE. …    ┆ 'li…      ┆ 'unix'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'oth…    │
│ Data      ┆ CRM Data  ┆ Bad       ┆ melalui   ┆ … ┆ null      ┆ HABA FAMI ┆ ['sas',   ┆ {'analys │
│ Analyst   ┆ Analyst   ┆ Rodach,   ┆ BeBee Deu ┆   ┆           ┆ LYGROUP   ┆ 'sas',    ┆ t_tools' │
│           ┆           ┆ Jerman    ┆ tschland  ┆   ┆           ┆           ┆ 'sql',    ┆ :        │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 'excel']  ┆ ['sas',  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'exc…    │
│ Business  ┆ Commercia ┆ Malaysia  ┆ melalui   ┆ … ┆ null      ┆ Lendlease ┆ ['powerpo ┆ {'analys │
│ Analyst   ┆ l Analyst ┆           ┆ Ricebowl  ┆   ┆           ┆ Corporati ┆ int',     ┆ t_tools' │
│           ┆ - Start   ┆           ┆           ┆   ┆           ┆ on        ┆ 'excel']  ┆ : ['powe │
│           ┆ Now       ┆           ┆           ┆   ┆           ┆           ┆           ┆ rpoint…  │
│ Data      ┆ Principal ┆ Newark,   ┆ melalui   ┆ … ┆ null      ┆ Capital   ┆ ['python' ┆ {'cloud' │
│ Engineer  ┆ Associate ┆ New       ┆ Recruit.n ┆   ┆           ┆ One       ┆ , 'go',   ┆ :        │
│           ┆ , Data    ┆ Jersey,   ┆ et        ┆   ┆           ┆           ┆ 'nosql',  ┆ ['aws',  │
│           ┆ Engi…     ┆ Amerika   ┆           ┆   ┆           ┆           ┆ 'sql…     ┆ 'snowfla │
│           ┆           ┆ Se…       ┆           ┆   ┆           ┆           ┆           ┆ ke',…    │
│ Software  ┆ AWS       ┆ India     ┆ melalui   ┆ … ┆ null      ┆ Trigyn    ┆ ['aws',   ┆ {'cloud' │
│ Engineer  ┆ System    ┆           ┆ Trigyn    ┆   ┆           ┆           ┆ 'flow']   ┆ :        │
│           ┆ Analyst   ┆           ┆           ┆   ┆           ┆           ┆           ┆ ['aws'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'other': │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ['…      │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

### Check the Number of Rows

The number of rows and columns in the dataset can be checked using the `shape` attribute of the Polars DataFrame. The `shape` attribute returns a tuple containing the number of rows and columns in the DataFrame.

In [3]:
df.shape

(785741, 17)

### Check Schema

Check the schema to understand the data types of each column.

In [4]:
df.schema

Schema([('job_title_short', String),
        ('job_title', String),
        ('job_location', String),
        ('job_via', String),
        ('job_schedule_type', String),
        ('job_work_from_home', Boolean),
        ('search_location', String),
        ('job_posted_date', String),
        ('job_no_degree_mention', Boolean),
        ('job_health_insurance', Boolean),
        ('job_country', String),
        ('salary_rate', String),
        ('salary_year_avg', Float64),
        ('salary_hour_avg', Float64),
        ('company_name', String),
        ('job_skills', String),
        ('job_type_skills', String)])

## Preprocess Dataset

### Check Missing Values

Check the number of missing values.

In [5]:
df.null_count()

shape: (1, 17)
┌────────────┬───────────┬───────────┬─────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ job_title_ ┆ job_title ┆ job_locat ┆ job_via ┆ … ┆ salary_ho ┆ company_n ┆ job_skill ┆ job_type_ │
│ short      ┆ ---       ┆ ion       ┆ ---     ┆   ┆ ur_avg    ┆ ame       ┆ s         ┆ skills    │
│ ---        ┆ u32       ┆ ---       ┆ u32     ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ u32        ┆           ┆ u32       ┆         ┆   ┆ u32       ┆ u32       ┆ u32       ┆ u32       │
╞════════════╪═══════════╪═══════════╪═════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 0          ┆ 1         ┆ 1045      ┆ 8       ┆ … ┆ 775079    ┆ 1         ┆ 117037    ┆ 117037    │
└────────────┴───────────┴───────────┴─────────┴───┴───────────┴───────────┴───────────┴───────────┘

The output is in a "wide" format, which makes it difficult to compare the number of missing values across columns. We can transpose the output to make it easier to read and analyze.

In [6]:
df.null_count().transpose(include_header=True)

shape: (17, 2)
┌───────────────────┬──────────┐
│ column            ┆ column_0 │
│ ---               ┆ ---      │
│ str               ┆ u32      │
╞═══════════════════╪══════════╡
│ job_title_short   ┆ 0        │
│ job_title         ┆ 1        │
│ job_location      ┆ 1045     │
│ job_via           ┆ 8        │
│ job_schedule_type ┆ 12667    │
│ …                 ┆ …        │
│ salary_year_avg   ┆ 763738   │
│ salary_hour_avg   ┆ 775079   │
│ company_name      ┆ 1        │
│ job_skills        ┆ 117037   │
│ job_type_skills   ┆ 117037   │
└───────────────────┴──────────┘

We can go one step further and only display columns with one or more missing values to focus our attention on the columns that require preprocessing.

In [7]:
(
    df.null_count()
    .transpose(include_header=True, header_name="column", column_names=["null_count"])
    .filter(pl.col("null_count") > 0)
)

shape: (11, 2)
┌───────────────────┬────────────┐
│ column            ┆ null_count │
│ ---               ┆ ---        │
│ str               ┆ u32        │
╞═══════════════════╪════════════╡
│ job_title         ┆ 1          │
│ job_location      ┆ 1045       │
│ job_via           ┆ 8          │
│ job_schedule_type ┆ 12667      │
│ job_country       ┆ 49         │
│ …                 ┆ …          │
│ salary_year_avg   ┆ 763738     │
│ salary_hour_avg   ┆ 775079     │
│ company_name      ┆ 1          │
│ job_skills        ┆ 117037     │
│ job_type_skills   ┆ 117037     │
└───────────────────┴────────────┘

While the output is helpful, the number of rows displayed in the output is limited to 10 rows by default by Polars. There are more columns with missing values that are not displayed in the output. To see all columns with missing values, we can temporarily set the maximum number of rows to display to a higher value, such as 50, to ensure that all columns with missing values are shown in the output.

In [8]:
# Display up to 50 rows of the null count table
with pl.Config(tbl_rows=50):
    display(
        (
            df.null_count()
            .transpose(
                include_header=True, header_name="column", column_names=["null_count"]
            )
            .filter(pl.col("null_count") > 0)
        )
    )

shape: (11, 2)
┌───────────────────┬────────────┐
│ column            ┆ null_count │
│ ---               ┆ ---        │
│ str               ┆ u32        │
╞═══════════════════╪════════════╡
│ job_title         ┆ 1          │
│ job_location      ┆ 1045       │
│ job_via           ┆ 8          │
│ job_schedule_type ┆ 12667      │
│ job_country       ┆ 49         │
│ salary_rate       ┆ 752674     │
│ salary_year_avg   ┆ 763738     │
│ salary_hour_avg   ┆ 775079     │
│ company_name      ┆ 1          │
│ job_skills        ┆ 117037     │
│ job_type_skills   ┆ 117037     │
└───────────────────┴────────────┘

:::{tip} What does the `with` statement do in Python?

The `with` statement in Python is used to wrap the execution of a block of code with methods defined by a context manager. It is commonly used for resource management, such as opening files or managing database connections, ensuring that resources are properly released after their use, even if an error occurs.

In the code example above, the `with` statement is used to temporarily set the maximum number of rows displayed in the output to 50. This means that when the block of code inside the `with` statement is executed, 50 rows of the DataFrame will be shown in the output, regardless of how many rows are actually in the DataFrame. After the block of code is executed, the maximum number of rows displayed will return to its previous setting.

The default maximum number of rows displayed in Polars is 10, so using the `with` statement allows you to temporarily change this setting for a specific block of code without affecting the global configuration.

:::

### Drop Rows with Missing Job Title

There is one row with a null value in the `job_title` column. Filter the DataFrame to show only this row.

In [9]:
df.filter(df["job_title"].is_null())

shape: (1, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ job_title ┆ job_title ┆ job_locat ┆ job_via   ┆ … ┆ salary_ho ┆ company_n ┆ job_skill ┆ job_type │
│ _short    ┆ ---       ┆ ion       ┆ ---       ┆   ┆ ur_avg    ┆ ame       ┆ s         ┆ _skills  │
│ ---       ┆ str       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆           ┆ str       ┆           ┆   ┆ f64       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Data      ┆ null      ┆ null      ┆ via Jobs  ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ Engineer  ┆           ┆           ┆ In France ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ - Mustakb ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ il…       ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

The dataset has over 780,000 rows, but only one row has a null value in the `job_title` and the `company` column.

In [10]:
df.filter(pl.col("job_skills").is_not_null()).select(pl.col("job_skills")).row(0)

("['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']",)

### Parse `"job_skills"` Column

The `"job_skills"` column is stored as a string that looks like a list, but it is not actually a list data type.

We can check the data type of the `"job_skills"` column to confirm that it is currently stored as a string. The output should indicate that the data type of the `"job_skills"` column is `String`.

In [11]:
df.filter(pl.col("job_skills").is_not_null()).select(pl.col("job_skills")).head(5)

shape: (5, 1)
┌─────────────────────────────────┐
│ job_skills                      │
│ ---                             │
│ str                             │
╞═════════════════════════════════╡
│ ['r', 'python', 'sql', 'nosql'… │
│ ['python', 'sql', 'c#', 'azure… │
│ ['python', 'c++', 'java', 'mat… │
│ ['bash', 'python', 'oracle', '… │
│ ['python', 'sql', 'gcp']        │
└─────────────────────────────────┘

In [12]:
df.schema["job_skills"]

String

To convert it to a list, we can use the `str.replace_all()` method to replace single quotes with double quotes, and then use the `str.json_decode()` method to parse the string as JSON. This will give us a proper list of skills for each job.

:::{tip} Why do we need to replace single quotes with double quotes before parsing the string as JSON?

The JSON format requires that string values be enclosed in double quotes. If the string uses single quotes, it will not be valid JSON and the `str.json_decode()` method will fail to parse it correctly. By replacing single quotes with double quotes, we ensure that the string conforms to the JSON format, allowing us to successfully decode it into a list data type.

:::

In [13]:
df = df.with_columns(
    pl.when(pl.col("job_skills").is_not_null())
    .then(
        pl.col("job_skills")
        .str.replace_all("'", '"')
        .str.json_decode(dtype=pl.List(pl.Utf8))
    )
    .otherwise(None)
    .alias("job_skills")
)

df.filter(pl.col("job_skills").is_not_null()).select(pl.col("job_skills")).head(5)

shape: (5, 1)
┌────────────────────────────────┐
│ job_skills                     │
│ ---                            │
│ list[str]                      │
╞════════════════════════════════╡
│ ["r", "python", … "tableau"]   │
│ ["python", "sql", … "jenkins"] │
│ ["python", "c++", … "pytorch"] │
│ ["bash", "python", … "git"]    │
│ ["python", "sql", "gcp"]       │
└────────────────────────────────┘

Verify that the `"job_skills"` column has been successfully parsed as a list by checking the data type of the column. The output should indicate that the data type of the `"job_skills"` column is now a list.

In [14]:
df.schema["job_skills"]

List(String)

#### How many jobs require "Python" as a skill?

We can use the `list.contains()` method to filter the DataFrame for rows where the `"job_skills"` list contains the skill "Python".

In [15]:
df.filter(pl.col("job_skills").list.contains("python")).select(
    pl.col("job_title"), pl.col("company_name"), pl.col("job_skills")
)

shape: (380_909, 3)
┌────────────────────────────┬──────────────────────────────────┬──────────────────────────────────┐
│ job_title                  ┆ company_name                     ┆ job_skills                       │
│ ---                        ┆ ---                              ┆ ---                              │
│ str                        ┆ str                              ┆ list[str]                        │
╞════════════════════════════╪══════════════════════════════════╪══════════════════════════════════╡
│ Data Analyst               ┆ Hewlett Packard Enterprise       ┆ ["r", "python", … "tableau"]     │
│ Data                       ┆ ALPHA Augmented Services         ┆ ["python", "sql", … "jenkins"]   │
│ Engineer/Scientist/Analys… ┆                                  ┆                                  │
│ LEAD ENGINEER - PRINCIPAL  ┆ Southwest Research Institute     ┆ ["python", "c++", … "pytorch"]   │
│ ANAL…                      ┆                                  ┆                                  │
│ Data Engineer- Sr Jobs     ┆ Kristina Daniel                  ┆ ["bash", "python", … "git"]      │
│ GCP Data Engineer          ┆ smart folks inc                  ┆ ["python", "sql", "gcp"]         │
│ …                          ┆ …                                ┆ …                                │
│ Data Engineer              ┆ Shamrock Trading Corporation     ┆ ["nosql", "mongodb", … "git"]    │
│ Data Engineer (f/m/d)      ┆ Heidelberg Materials             ┆ ["python", "c#", … "terraform"…  │
│ Senior Data Engineer       ┆ Pure App                         ┆ ["sql", "python", … "docker"]    │
│ DevOps Engineer            ┆ CAREERSTAR INTERNATIONAL PTE. …  ┆ ["bash", "python", … "ansible"…  │
│ Principal Associate, Data  ┆ Capital One                      ┆ ["python", "go", … "docker"]     │
│ Engi…                      ┆                                  ┆                                  │
└────────────────────────────┴──────────────────────────────────┴──────────────────────────────────┘

The `height` attribute can be used to count the number of rows that match this condition.

It is equivalent to using the `len()` function, or `.shape[0]` to get the number of rows in the filtered DataFrame.

In [16]:
df.filter(pl.col("job_skills").list.contains("python")).height

380909

### Parse `"job_type_skills"` column

Similar to the `"job_skills"` column, the `"job_type_skills"` column is also stored as a string that contains dictionaries (or Map data type in more broad terms).

In [17]:
df.select("job_type_skills").filter(pl.col("job_type_skills").is_not_null()).head(5)

shape: (5, 1)
┌─────────────────────────────────┐
│ job_type_skills                 │
│ ---                             │
│ str                             │
╞═════════════════════════════════╡
│ {'analyst_tools': ['power bi',… │
│ {'analyst_tools': ['dax'], 'cl… │
│ {'cloud': ['aws'], 'libraries'… │
│ {'cloud': ['oracle', 'aws'], '… │
│ {'cloud': ['gcp'], 'programmin… │
└─────────────────────────────────┘

In [18]:
df.select("job_type_skills").filter(pl.col("job_type_skills").is_not_null()).row(0)[0]

"{'analyst_tools': ['power bi', 'tableau'], 'programming': ['r', 'python', 'sql', 'nosql']}"

We can check the data type of the `"job_type_skills"` column to confirm that it is currently stored as a string.

In [19]:
df.schema["job_type_skills"]

String

In [ ]:
skills_dtype = pl.Struct(
    [
        pl.Field("analyst_tools", pl.List(pl.Utf8)),
        pl.Field("programming", pl.List(pl.Utf8)),
    ]
)

df.with_columns(
    pl.when(pl.col("job_type_skills").is_not_null())
    .then(
        pl.col("job_type_skills")
        .str.replace_all("'", '"')
        .str.json_decode(dtype=skills_dtype)
    )
    .otherwise(None)
    .alias("job_type_skills")
)

shape: (785_741, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ job_title ┆ job_title ┆ job_locat ┆ job_via   ┆ … ┆ salary_ho ┆ company_n ┆ job_skill ┆ job_type │
│ _short    ┆ ---       ┆ ion       ┆ ---       ┆   ┆ ur_avg    ┆ ame       ┆ s         ┆ _skills  │
│ ---       ┆ str       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆           ┆ str       ┆           ┆   ┆ f64       ┆ str       ┆ list[str] ┆ struct[2 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ]        │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Senior    ┆ Senior    ┆ Watertown ┆ via Work  ┆ … ┆ null      ┆ Boehringe ┆ null      ┆ null     │
│ Data      ┆ Clinical  ┆ , CT      ┆ Nearby    ┆   ┆           ┆ r         ┆           ┆          │
│ Engineer  ┆ Data      ┆           ┆           ┆   ┆           ┆ Ingelheim ┆           ┆          │
│           ┆ Engineer  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ …         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Data      ┆ Data      ┆ Guadalaja ┆ via BeBee ┆ … ┆ null      ┆ Hewlett   ┆ ["r",     ┆ {["power │
│ Analyst   ┆ Analyst   ┆ ra,       ┆ México    ┆   ┆           ┆ Packard   ┆ "python", ┆ bi", "ta │
│           ┆           ┆ Jalisco,  ┆           ┆   ┆           ┆ Enterpris ┆ … "tablea ┆ bleau"], │
│           ┆           ┆ Mexico    ┆           ┆   ┆           ┆ e         ┆ u"]       ┆ ["r",…   │
│ Data      ┆ Data Engi ┆ Berlin,   ┆ via       ┆ … ┆ null      ┆ ALPHA     ┆ ["python" ┆ {["dax"] │
│ Engineer  ┆ neer/Scie ┆ Germany   ┆ LinkedIn  ┆   ┆           ┆ Augmented ┆ , "sql",  ┆ ,["pytho │
│           ┆ ntist/Ana ┆           ┆           ┆   ┆           ┆ Services  ┆ … "jenkin ┆ n",      │
│           ┆ lys…      ┆           ┆           ┆   ┆           ┆           ┆ s"]       ┆ "sql",   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ "c#…     │
│ Data      ┆ LEAD      ┆ San       ┆ via Diver ┆ … ┆ null      ┆ Southwest ┆ ["python" ┆ {null,[" │
│ Engineer  ┆ ENGINEER  ┆ Antonio,  ┆ sity.com  ┆   ┆           ┆ Research  ┆ , "c++",  ┆ python", │
│           ┆ -         ┆ TX        ┆           ┆   ┆           ┆ Institute ┆ … "pytorc ┆ "c++", … │
│           ┆ PRINCIPAL ┆           ┆           ┆   ┆           ┆           ┆ h"]       ┆ "mat…    │
│           ┆ ANAL…     ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Data      ┆ Data      ┆ Washingto ┆ via       ┆ … ┆ null      ┆ Kristina  ┆ ["bash",  ┆ {null,[" │
│ Engineer  ┆ Engineer- ┆ n, DC     ┆ Clearance ┆   ┆           ┆ Daniel    ┆ "python", ┆ bash",   │
│           ┆ Sr Jobs   ┆           ┆ Jobs      ┆   ┆           ┆           ┆ … "git"]  ┆ "python" │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ]}       │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ Software  ┆ DevOps    ┆ Singapura ┆ melalui   ┆ … ┆ null      ┆ CAREERSTA ┆ ["bash",  ┆ {null,[" │
│ Engineer  ┆ Engineer  ┆           ┆ Trabajo.o ┆   ┆           ┆ R INTERNA ┆ "python", ┆ bash",   │
│           ┆           ┆           ┆ rg        ┆   ┆           ┆ TIONAL    ┆ … "ansibl ┆ "python" │
│           ┆           ┆           ┆           ┆   ┆           ┆ PTE. …    ┆ e"…       ┆ , "perl… │
│ Data      ┆ CRM Data  ┆ Bad       ┆ melalui   ┆ … ┆ null      ┆ HABA FAMI ┆ ["sas",   ┆ {["sas", │
│ Analyst   ┆ Analyst   ┆ Rodach,   ┆ BeBee Deu ┆   ┆           ┆ LYGROUP   ┆ "sas", …  ┆ "excel"] │
│           ┆           ┆ Jerman    ┆ tschland  ┆   ┆           ┆           ┆ "excel"]  ┆ ,["sas", │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ "sql…    │
│ Business  ┆ Commercia ┆ Malaysia  ┆ melalui   ┆ … ┆ null      ┆ Lendlease ┆ ["powerpo ┆ {["power │
│ Analyst   ┆ l Analyst ┆           ┆ Ricebowl  ┆   ┆           ┆ Corporati ┆ int",     ┆ point",  │
│           ┆ - Start   ┆           ┆           ┆   ┆           ┆ on        ┆ "excel"]  ┆ "excel"] │
│           ┆ Now       ┆           ┆           ┆   ┆           ┆           ┆           ┆ ,null}   │
│ Data      ┆ Principal ┆ Newark,   ┆ melalui   ┆ … ┆ null      ┆ Capital   ┆ ["python" ┆ {null,[" │
│ Engineer  ┆ Associate ┆ New       ┆ Recruit.n ┆   ┆           ┆ One       ┆ , "go", … ┆ python", │
│           ┆ , Data    ┆ Jersey,   ┆ et        ┆   ┆           ┆           ┆ "docker"] ┆ "go", …  │
│           ┆ Engi…     ┆ Amerika   ┆           ┆   ┆           ┆           ┆           ┆ "shel…   │
│           ┆           ┆ Se…       ┆           ┆   ┆           ┆           ┆           ┆          │
│ Software  ┆ AWS       ┆ India     ┆ melalui   ┆ … ┆ null      ┆ Trigyn    ┆ ["aws",   ┆ {null,nu │
│ Engineer  ┆ System    ┆           ┆ Trigyn    ┆   ┆           ┆           ┆ "flow"]   ┆ ll}      │
│           ┆ Analyst   ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
%%time

import ast

df.with_columns(
    pl.when(pl.col("job_type_skills").is_not_null())
    .then(
        pl.col("job_type_skills").map_elements(
            ast.literal_eval,
            return_dtype=pl.Object,  # important: avoid inference surprises
        )
    )
    .otherwise(None)
    .alias("job_type_skills")
)

shape: (785_741, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ job_title ┆ job_title ┆ job_locat ┆ job_via   ┆ … ┆ salary_ho ┆ company_n ┆ job_skill ┆ job_type │
│ _short    ┆ ---       ┆ ion       ┆ ---       ┆   ┆ ur_avg    ┆ ame       ┆ s         ┆ _skills  │
│ ---       ┆ str       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆           ┆ str       ┆           ┆   ┆ f64       ┆ str       ┆ list[str] ┆ object   │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Senior    ┆ Senior    ┆ Watertown ┆ via Work  ┆ … ┆ null      ┆ Boehringe ┆ null      ┆ null     │
│ Data      ┆ Clinical  ┆ , CT      ┆ Nearby    ┆   ┆           ┆ r         ┆           ┆          │
│ Engineer  ┆ Data      ┆           ┆           ┆   ┆           ┆ Ingelheim ┆           ┆          │
│           ┆ Engineer  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ …         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Data      ┆ Data      ┆ Guadalaja ┆ via BeBee ┆ … ┆ null      ┆ Hewlett   ┆ ["r",     ┆ {'analys │
│ Analyst   ┆ Analyst   ┆ ra,       ┆ México    ┆   ┆           ┆ Packard   ┆ "python", ┆ t_tools' │
│           ┆           ┆ Jalisco,  ┆           ┆   ┆           ┆ Enterpris ┆ … "tablea ┆ :        │
│           ┆           ┆ Mexico    ┆           ┆   ┆           ┆ e         ┆ u"]       ┆ ['power  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ bi',…    │
│ Data      ┆ Data Engi ┆ Berlin,   ┆ via       ┆ … ┆ null      ┆ ALPHA     ┆ ["python" ┆ {'analys │
│ Engineer  ┆ neer/Scie ┆ Germany   ┆ LinkedIn  ┆   ┆           ┆ Augmented ┆ , "sql",  ┆ t_tools' │
│           ┆ ntist/Ana ┆           ┆           ┆   ┆           ┆ Services  ┆ … "jenkin ┆ :        │
│           ┆ lys…      ┆           ┆           ┆   ┆           ┆           ┆ s"]       ┆ ['dax'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'cl…     │
│ Data      ┆ LEAD      ┆ San       ┆ via Diver ┆ … ┆ null      ┆ Southwest ┆ ["python" ┆ {'cloud' │
│ Engineer  ┆ ENGINEER  ┆ Antonio,  ┆ sity.com  ┆   ┆           ┆ Research  ┆ , "c++",  ┆ :        │
│           ┆ -         ┆ TX        ┆           ┆   ┆           ┆ Institute ┆ … "pytorc ┆ ['aws'], │
│           ┆ PRINCIPAL ┆           ┆           ┆   ┆           ┆           ┆ h"]       ┆ 'librari │
│           ┆ ANAL…     ┆           ┆           ┆   ┆           ┆           ┆           ┆ es'…     │
│ Data      ┆ Data      ┆ Washingto ┆ via       ┆ … ┆ null      ┆ Kristina  ┆ ["bash",  ┆ {'cloud' │
│ Engineer  ┆ Engineer- ┆ n, DC     ┆ Clearance ┆   ┆           ┆ Daniel    ┆ "python", ┆ : ['orac │
│           ┆ Sr Jobs   ┆           ┆ Jobs      ┆   ┆           ┆           ┆ … "git"]  ┆ le',     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'aws'],  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ '…       │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ Software  ┆ DevOps    ┆ Singapura ┆ melalui   ┆ … ┆ null      ┆ CAREERSTA ┆ ["bash",  ┆ {'os':   │
│ Engineer  ┆ Engineer  ┆           ┆ Trabajo.o ┆   ┆           ┆ R INTERNA ┆ "python", ┆ ['linux' │
│           ┆           ┆           ┆ rg        ┆   ┆           ┆ TIONAL    ┆ … "ansibl ┆ ,        │
│           ┆           ┆           ┆           ┆   ┆           ┆ PTE. …    ┆ e"…       ┆ 'unix'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'oth…    │
│ Data      ┆ CRM Data  ┆ Bad       ┆ melalui   ┆ … ┆ null      ┆ HABA FAMI ┆ ["sas",   ┆ {'analys │
│ Analyst   ┆ Analyst   ┆ Rodach,   ┆ BeBee Deu ┆   ┆           ┆ LYGROUP   ┆ "sas", …  ┆ t_tools' │
│           ┆           ┆ Jerman    ┆ tschland  ┆   ┆           ┆           ┆ "excel"]  ┆ :        │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ['sas',  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'exc…    │
│ Business  ┆ Commercia ┆ Malaysia  ┆ melalui   ┆ … ┆ null      ┆ Lendlease ┆ ["powerpo ┆ {'analys │
│ Analyst   ┆ l Analyst ┆           ┆ Ricebowl  ┆   ┆           ┆ Corporati ┆ int",     ┆ t_tools' │
│           ┆ - Start   ┆           ┆           ┆   ┆           ┆ on        ┆ "excel"]  ┆ : ['powe │
│           ┆ Now       ┆           ┆           ┆   ┆           ┆           ┆           ┆ rpoint…  │
│ Data      ┆ Principal ┆ Newark,   ┆ melalui   ┆ … ┆ null      ┆ Capital   ┆ ["python" ┆ {'cloud' │
│ Engineer  ┆ Associate ┆ New       ┆ Recruit.n ┆   ┆           ┆ One       ┆ , "go", … ┆ :        │
│           ┆ , Data    ┆ Jersey,   ┆ et        ┆   ┆           ┆           ┆ "docker"] ┆ ['aws',  │
│           ┆ Engi…     ┆ Amerika   ┆           ┆   ┆           ┆           ┆           ┆ 'snowfla │
│           ┆           ┆ Se…       ┆           ┆   ┆           ┆           ┆           ┆ ke',…    │
│ Software  ┆ AWS       ┆ India     ┆ melalui   ┆ … ┆ null      ┆ Trigyn    ┆ ["aws",   ┆ {'cloud' │
│ Engineer  ┆ System    ┆           ┆ Trigyn    ┆   ┆           ┆           ┆ "flow"]   ┆ :        │
│           ┆ Analyst   ┆           ┆           ┆   ┆           ┆           ┆           ┆ ['aws'], │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 'other': │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ['…      │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
keys = (
    df.filter(pl.col("job_type_skills").is_not_null())
    .select(
        pl.col("job_type_skills")
        .map_elements(ast.literal_eval, return_dtype=pl.Object)
        .map_elements(lambda d: list(d.keys()), return_dtype=pl.List(pl.Utf8))
        .alias("keys")
    )
    .explode("keys")
    .unique()
)

keys

shape: (10, 1)
┌───────────────┐
│ keys          │
│ ---           │
│ str           │
╞═══════════════╡
│ analyst_tools │
│ async         │
│ programming   │
│ sync          │
│ os            │
│ cloud         │
│ databases     │
│ other         │
│ libraries     │
│ webframeworks │
└───────────────┘