# Quiz 1 - Data Job Postings

- ğŸ† 50 points available

â–¶ï¸ First, run the code cell below to import `unittest`, a module used for **ğŸ§­ Check Your Work** sections and the autograder.

In [1]:
# DO NOT MODIFY THE CODE IN THIS CELL
import unittest

tc = unittest.TestCase()

---

### ğŸ¯ Import packages

#### ğŸ‘‡ Tasks

- âœ”ï¸ Import `polars` as `pl` for data manipulation.

In [2]:
# YOUR CODE BEGINS
import polars as pl

# YOUR CODE ENDS

#### ğŸ§­ Check Your Work

Run the code cell below to test your solution.

- âœ”ï¸ If the code cell runs without errors, you're good to move on.
- âŒ If the code cell produces an error, review your code and fix any mistakes.

In [3]:
# DO NOT CHANGE THE CODE IN THIS CELL
tc.assertIn("pl", globals(), "`pl` is not defined")
tc.assertEqual(pl.__name__, "polars", "`pl` is not the polars module")

---

### ğŸ“Œ Read Parquet File

â–¶ï¸ Run the code below to read the data job postings dataset from a GitHub repository.

In [5]:
df = pl.read_parquet(
    "https://github.com/bdi593/datasets/raw/refs/heads/main/data-jobs/data_jobs.parquet"
)
df

shape: (785_741, 17)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ job_title â”† job_title â”† job_locat â”† job_via   â”† â€¦ â”† salary_ho â”† company_n â”† job_skill â”† job_type â”‚
â”‚ _short    â”† ---       â”† ion       â”† ---       â”†   â”† ur_avg    â”† ame       â”† s         â”† _skills  â”‚
â”‚ ---       â”† str       â”† ---       â”† str       â”†   â”† ---       â”† ---       â”† ---       â”† ---      â”‚
â”‚ str       â”†           â”† str       â”†           â”†   â”† f64       â”† str       â”† str       â”† str      â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Senior    â”† Senior    â”† Watertown â”† via Work  â”† â€¦ â”† null      â”† Boehringe â”† null      â”† null     â”‚
â”‚ Data      â”† Clinical  â”† , CT      â”† Nearby    â”†   â”†           â”† r         â”†           â”†          â”‚
â”‚ Engineer  â”† Data      â”†           â”†           â”†   â”†           â”† Ingelheim â”†           â”†          â”‚
â”‚           â”† Engineer  â”†           â”†           â”†   â”†           â”†           â”†           â”†          â”‚
â”‚           â”† â€¦         â”†           â”†           â”†   â”†           â”†           â”†           â”†          â”‚
â”‚ Data      â”† Data      â”† Guadalaja â”† via BeBee â”† â€¦ â”† null      â”† Hewlett   â”† ['r',     â”† {'analys â”‚
â”‚ Analyst   â”† Analyst   â”† ra,       â”† MÃ©xico    â”†   â”†           â”† Packard   â”† 'python', â”† t_tools' â”‚
â”‚           â”†           â”† Jalisco,  â”†           â”†   â”†           â”† Enterpris â”† 'sql',    â”† :        â”‚
â”‚           â”†           â”† Mexico    â”†           â”†   â”†           â”† e         â”† 'nosql'â€¦  â”† ['power  â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”†           â”† bi',â€¦    â”‚
â”‚ Data      â”† Data Engi â”† Berlin,   â”† via       â”† â€¦ â”† null      â”† ALPHA     â”† ['python' â”† {'analys â”‚
â”‚ Engineer  â”† neer/Scie â”† Germany   â”† LinkedIn  â”†   â”†           â”† Augmented â”† , 'sql',  â”† t_tools' â”‚
â”‚           â”† ntist/Ana â”†           â”†           â”†   â”†           â”† Services  â”† 'c#',     â”† :        â”‚
â”‚           â”† lysâ€¦      â”†           â”†           â”†   â”†           â”†           â”† 'azureâ€¦   â”† ['dax'], â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”†           â”† 'clâ€¦     â”‚
â”‚ Data      â”† LEAD      â”† San       â”† via Diver â”† â€¦ â”† null      â”† Southwest â”† ['python' â”† {'cloud' â”‚
â”‚ Engineer  â”† ENGINEER  â”† Antonio,  â”† sity.com  â”†   â”†           â”† Research  â”† , 'c++',  â”† :        â”‚
â”‚           â”† -         â”† TX        â”†           â”†   â”†           â”† Institute â”† 'java',   â”† ['aws'], â”‚
â”‚           â”† PRINCIPAL â”†           â”†           â”†   â”†           â”†           â”† 'matâ€¦     â”† 'librari â”‚
â”‚           â”† ANALâ€¦     â”†           â”†           â”†   â”†           â”†           â”†           â”† es'â€¦     â”‚
â”‚ Data      â”† Data      â”† Washingto â”† via       â”† â€¦ â”† null      â”† Kristina  â”† ['bash',  â”† {'cloud' â”‚
â”‚ Engineer  â”† Engineer- â”† n, DC     â”† Clearance â”†   â”†           â”† Daniel    â”† 'python', â”† : ['orac â”‚
â”‚           â”† Sr Jobs   â”†           â”† Jobs      â”†   â”†           â”†           â”† 'oracle', â”† le',     â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”† 'â€¦        â”† 'aws'],  â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”†           â”† 'â€¦       â”‚
â”‚ â€¦         â”† â€¦         â”† â€¦         â”† â€¦         â”† â€¦ â”† â€¦         â”† â€¦         â”† â€¦         â”† â€¦        â”‚
â”‚ Software  â”† DevOps    â”† Singapura â”† melalui   â”† â€¦ â”† null      â”† CAREERSTA â”† ['bash',  â”† {'os':   â”‚
â”‚ Engineer  â”† Engineer  â”†           â”† Trabajo.o â”†   â”†           â”† R INTERNA â”† 'python', â”† ['linux' â”‚
â”‚           â”†           â”†           â”† rg        â”†   â”†           â”† TIONAL    â”† 'perl',   â”† ,        â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”† PTE. â€¦    â”† 'liâ€¦      â”† 'unix'], â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”†           â”† 'othâ€¦    â”‚
â”‚ Data      â”† CRM Data  â”† Bad       â”† melalui   â”† â€¦ â”† null      â”† HABA FAMI â”† ['sas',   â”† {'analys â”‚
â”‚ Analyst   â”† Analyst   â”† Rodach,   â”† BeBee Deu â”†   â”†           â”† LYGROUP   â”† 'sas',    â”† t_tools' â”‚
â”‚           â”†           â”† Jerman    â”† tschland  â”†   â”†           â”†           â”† 'sql',    â”† :        â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”† 'excel']  â”† ['sas',  â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”†           â”† 'excâ€¦    â”‚
â”‚ Business  â”† Commercia â”† Malaysia  â”† melalui   â”† â€¦ â”† null      â”† Lendlease â”† ['powerpo â”† {'analys â”‚
â”‚ Analyst   â”† l Analyst â”†           â”† Ricebowl  â”†   â”†           â”† Corporati â”† int',     â”† t_tools' â”‚
â”‚           â”† - Start   â”†           â”†           â”†   â”†           â”† on        â”† 'excel']  â”† : ['powe â”‚
â”‚           â”† Now       â”†           â”†           â”†   â”†           â”†           â”†           â”† rpointâ€¦  â”‚
â”‚ Data      â”† Principal â”† Newark,   â”† melalui   â”† â€¦ â”† null      â”† Capital   â”† ['python' â”† {'cloud' â”‚
â”‚ Engineer  â”† Associate â”† New       â”† Recruit.n â”†   â”†           â”† One       â”† , 'go',   â”† :        â”‚
â”‚           â”† , Data    â”† Jersey,   â”† et        â”†   â”†           â”†           â”† 'nosql',  â”† ['aws',  â”‚
â”‚           â”† Engiâ€¦     â”† Amerika   â”†           â”†   â”†           â”†           â”† 'sqlâ€¦     â”† 'snowfla â”‚
â”‚           â”†           â”† Seâ€¦       â”†           â”†   â”†           â”†           â”†           â”† ke',â€¦    â”‚
â”‚ Software  â”† AWS       â”† India     â”† melalui   â”† â€¦ â”† null      â”† Trigyn    â”† ['aws',   â”† {'cloud' â”‚
â”‚ Engineer  â”† System    â”†           â”† Trigyn    â”†   â”†           â”†           â”† 'flow']   â”† :        â”‚
â”‚           â”† Analyst   â”†           â”†           â”†   â”†           â”†           â”†           â”† ['aws'], â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”†           â”† 'other': â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”†           â”† ['â€¦      â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

#### ğŸ§­ Check whehter database file was created successfully

In [9]:
# DO NOT CHANGE THE CODE IN THIS CELL
tc.assertIsInstance(df, pl.DataFrame, "`df` is not a Polars DataFrame")
tc.assertGreater(df.height, 0, "`df` is empty")

â–¶ï¸ Run the code below to display the first 5 rows.

In [8]:
df.head(5)

shape: (5, 17)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ job_title â”† job_title â”† job_locat â”† job_via   â”† â€¦ â”† salary_ho â”† company_n â”† job_skill â”† job_type â”‚
â”‚ _short    â”† ---       â”† ion       â”† ---       â”†   â”† ur_avg    â”† ame       â”† s         â”† _skills  â”‚
â”‚ ---       â”† str       â”† ---       â”† str       â”†   â”† ---       â”† ---       â”† ---       â”† ---      â”‚
â”‚ str       â”†           â”† str       â”†           â”†   â”† f64       â”† str       â”† str       â”† str      â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Senior    â”† Senior    â”† Watertown â”† via Work  â”† â€¦ â”† null      â”† Boehringe â”† null      â”† null     â”‚
â”‚ Data      â”† Clinical  â”† , CT      â”† Nearby    â”†   â”†           â”† r         â”†           â”†          â”‚
â”‚ Engineer  â”† Data      â”†           â”†           â”†   â”†           â”† Ingelheim â”†           â”†          â”‚
â”‚           â”† Engineer  â”†           â”†           â”†   â”†           â”†           â”†           â”†          â”‚
â”‚           â”† â€¦         â”†           â”†           â”†   â”†           â”†           â”†           â”†          â”‚
â”‚ Data      â”† Data      â”† Guadalaja â”† via BeBee â”† â€¦ â”† null      â”† Hewlett   â”† ['r',     â”† {'analys â”‚
â”‚ Analyst   â”† Analyst   â”† ra,       â”† MÃ©xico    â”†   â”†           â”† Packard   â”† 'python', â”† t_tools' â”‚
â”‚           â”†           â”† Jalisco,  â”†           â”†   â”†           â”† Enterpris â”† 'sql',    â”† :        â”‚
â”‚           â”†           â”† Mexico    â”†           â”†   â”†           â”† e         â”† 'nosql'â€¦  â”† ['power  â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”†           â”† bi',â€¦    â”‚
â”‚ Data      â”† Data Engi â”† Berlin,   â”† via       â”† â€¦ â”† null      â”† ALPHA     â”† ['python' â”† {'analys â”‚
â”‚ Engineer  â”† neer/Scie â”† Germany   â”† LinkedIn  â”†   â”†           â”† Augmented â”† , 'sql',  â”† t_tools' â”‚
â”‚           â”† ntist/Ana â”†           â”†           â”†   â”†           â”† Services  â”† 'c#',     â”† :        â”‚
â”‚           â”† lysâ€¦      â”†           â”†           â”†   â”†           â”†           â”† 'azureâ€¦   â”† ['dax'], â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”†           â”† 'clâ€¦     â”‚
â”‚ Data      â”† LEAD      â”† San       â”† via Diver â”† â€¦ â”† null      â”† Southwest â”† ['python' â”† {'cloud' â”‚
â”‚ Engineer  â”† ENGINEER  â”† Antonio,  â”† sity.com  â”†   â”†           â”† Research  â”† , 'c++',  â”† :        â”‚
â”‚           â”† -         â”† TX        â”†           â”†   â”†           â”† Institute â”† 'java',   â”† ['aws'], â”‚
â”‚           â”† PRINCIPAL â”†           â”†           â”†   â”†           â”†           â”† 'matâ€¦     â”† 'librari â”‚
â”‚           â”† ANALâ€¦     â”†           â”†           â”†   â”†           â”†           â”†           â”† es'â€¦     â”‚
â”‚ Data      â”† Data      â”† Washingto â”† via       â”† â€¦ â”† null      â”† Kristina  â”† ['bash',  â”† {'cloud' â”‚
â”‚ Engineer  â”† Engineer- â”† n, DC     â”† Clearance â”†   â”†           â”† Daniel    â”† 'python', â”† : ['orac â”‚
â”‚           â”† Sr Jobs   â”†           â”† Jobs      â”†   â”†           â”†           â”† 'oracle', â”† le',     â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”† 'â€¦        â”† 'aws'],  â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”†           â”† 'â€¦       â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

---

### ğŸ¯ Challenge 1: Find high profile defaults

#### ğŸ‘‡ Tasks

- âœ”ï¸ Write a query that:
  - selects all columns,
  - from the `loans` table,
  - where the `job_title` is `"CEO"`, `annual_inc` is greater than `425000`, **and** `did_default` is `1`
- âœ”ï¸ Store your query to a new variable named `query_high_profile_defaults`.
- âœ”ï¸ The order of rows does not matter.

#### ğŸ”‘ Expected output

|     | loan_amnt | int_rate | term_in_months | grade | job_title | home_ownership | annual_inc | loan_status | purpose        | did_default |
| --: | --------: | -------: | -------------: | :---- | :-------- | :------------- | ---------: | :---------- | :------------- | ----------: |
|   0 |     25875 |   0.2649 |             60 | F     | CEO       | RENT           |     450000 | Charged Off | small_business |           1 |
|   1 |     30000 |   0.1599 |             36 | D     | CEO       | RENT           |     450000 | Charged Off | small_business |           1 |

In [7]:
# YOUR CODE BEGINS
query_high_profile_defaults = """
SELECT *
FROM loans
WHERE (job_title = "CEO") AND (annual_inc > 425000) AND (did_default = 1)
ORDER BY loan_amnt;
"""
# YOUR CODE ENDS

conn = sqlite3.connect("lending-club-loan-results.db")
df_result = pd.read_sql_query(query_high_profile_defaults, con=conn)
display(df_result)
conn.close()

,loan_amnt,int_rate,term_in_months,grade,job_title,home_ownership,annual_inc,loan_status,purpose,did_default
0,25875,0.2649,60,F,CEO,RENT,450000.0,Charged Off,small_business,1
1,30000,0.1599,36,D,CEO,RENT,450000.0,Charged Off,small_business,1

#### ğŸ§­ Check Your Work

Run the code cell below to test your solution.

- âœ”ï¸ If the code cell runs without errors, you're good to move on.
- âŒ If the code cell produces an error, review your code and fix any mistakes.

In [8]:
_test_case = "part-01"
_points = 7

conn = sqlite3.connect("lending-club-loan-results.db")
decoded_query = base64.b64decode(
    b"ClNFTEVDVCAqCkZST00gbG9hbnMKV0hFUkUgKGpvYl90aXRsZSA\
9ICJDRU8iKSBBTkQgKGFubnVhbF9pbmMgPiA0MjUwMDApIEFORCAoZGlkX2RlZmF1bHQgPSAxKQpPUkRFUiBCWSBsb2FuX2FtbnQ7Cg=="
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
pd.testing.assert_frame_equal(
    df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
    df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True),
)
conn.close()

---

### ğŸ¯ Part 2: Stats by loan term

#### ğŸ‘‡ Tasks

- âœ”ï¸ Write a query that summarizes the average interest rate and the default rate for each loan term.
- âœ”ï¸ Use the following column names:
  - `term_in_months`: Term of each loan (36 or 60)
  - `avg_int_rate`: Average interest rate for each term
  - `default_rate`: Default rate for each term
    - This is the average of `did_default` column.
- âœ”ï¸ Sort the result by `term_in_months` in ascending order.
- âœ”ï¸ Store your query to a new variable named `query_stats_by_term`.

#### ğŸ”‘ Expected output

|     | term_in_months | avg_int_rate | default_rate |
| --: | -------------: | -----------: | -----------: |
|   0 |             36 |     0.118398 |     0.162467 |
|   1 |             60 |     0.165742 |     0.342822 |

In [9]:
# YOUR CODE BEGINS
query_stats_by_term = """
SELECT
    term_in_months,
    AVG(int_rate) AS avg_int_rate,
    AVG(did_default) AS default_rate
FROM loans
GROUP BY term_in_months
ORDER BY term_in_months;
"""
# YOUR CODE ENDS

conn = sqlite3.connect("lending-club-loan-results.db")
df_result = pd.read_sql_query(query_stats_by_term, con=conn)
display(df_result)
conn.close()

   term_in_months  avg_int_rate  default_rate
0              36      0.118398      0.162467
1              60      0.165742      0.342822

#### ğŸ§­ Check Your Work

Run the code cell below to test your solution.

- âœ”ï¸ If the code cell runs without errors, you're good to move on.
- âŒ If the code cell produces an error, review your code and fix any mistakes.

In [10]:
_test_case = "part-02"
_points = 9

conn = sqlite3.connect("lending-club-loan-results.db")
decoded_query = base64.b64decode(
    b"ClNFTEVDVAogICAgdGVybV9pbl9tb\
250aHMsCiAgICBBVkcoaW50X3JhdGUpIEFTIGF2Z19pbnRfcmF0ZSwKICAgIEFWR\
yhkaWRfZGVmYXVsdCkgQVMgZGVmYXVsdF9yYXRlCkZST00gbG9hbnMKR1JPVVAgQ\
lkgdGVybV9pbl9tb250aHMKT1JERVIgQlkgdGVybV9pbl9tb250aHM7Cg=="
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
pd.testing.assert_frame_equal(
    df_result.reset_index(drop=True), df_check.reset_index(drop=True)
)
conn.close()

---

### ğŸ¯ Part 3: Stats by home ownership type

#### ğŸ‘‡ Tasks

- âœ”ï¸ Write a query that summarizes the number of loans, average interest rate, and the default rate for each home ownership type.
- âœ”ï¸ Use the following column names:
  - `home_ownership`: Home ownership type (MORTGAGE, RENT, OWN)
  - `num_loans`: Number of loans for each home ownership type
  - `avg_int_rate`: Average interest rate for each home ownership type
  - `default_rate`: Default rate for each home ownership type
    - This is the average of `did_default` column.
- âœ”ï¸ Sort the result by `num_loans` in descending order.
- âœ”ï¸ Store your query to a new variable named `query_stats_by_home_ownership`.

#### ğŸ”‘ Expected output

|     | home_ownership | num_loans | avg_int_rate | default_rate |
| --: | :------------- | --------: | -----------: | -----------: |
|   0 | MORTGAGE       |    107348 |     0.127241 |     0.179212 |
|   1 | RENT           |     75615 |       0.1336 |     0.245031 |
|   2 | OWN            |     22156 |     0.131165 |     0.209063 |

In [11]:
# YOUR CODE BEGINS
query_stats_by_home_ownership = """
SELECT
    home_ownership,
    COUNT(*) AS num_loans,
    AVG(int_rate) AS avg_int_rate,
    AVG(did_default) AS default_rate
FROM loans
GROUP BY home_ownership
ORDER BY num_loans DESC;
"""
# YOUR CODE ENDS

conn = sqlite3.connect("lending-club-loan-results.db")
df_result = pd.read_sql_query(query_stats_by_home_ownership, con=conn)
display(df_result)
conn.close()

  home_ownership  num_loans  avg_int_rate  default_rate
0       MORTGAGE     107348      0.127241      0.179212
1           RENT      75615      0.133600      0.245031
2            OWN      22156      0.131165      0.209063

#### ğŸ§­ Check Your Work

Run the code cell below to test your solution.

- âœ”ï¸ If the code cell runs without errors, you're good to move on.
- âŒ If the code cell produces an error, review your code and fix any mistakes.

In [12]:
_test_case = "part-03"
_points = 9

conn = sqlite3.connect("lending-club-loan-results.db")
decoded_query = base64.b64decode(
    b"ClNFTEVDVAogICAgaG9tZV9vd25lcnNoaXAsCi\
AgICBDT1VOVCgqKSBBUyBudW1fbG9hbnMsCiAgICBBVkcoaW50X3JhdGUpIEFTIGF2Z19pbnR\
fcmF0ZSwKICAgIEFWRyhkaWRfZGVmYXVsdCkgQVMgZGVmYXVsdF9yYXRlCkZST00gbG9hbnMK\
R1JPVVAgQlkgaG9tZV9vd25lcnNoaXAKT1JERVIgQlkgbnVtX2xvYW5zIERFU0M7Cg=="
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
pd.testing.assert_frame_equal(
    df_result.reset_index(drop=True), df_check.reset_index(drop=True)
)
conn.close()

---

## ğŸ¸ Submitting your notebook

There is one final step before exporting the notebook as an `.ipynb` file for submission. Restart your runtime (kernal) and run all cells from the beginning to ensure that your notebook does not contain any error.

- Go to the **"Runtime"** ("Kernel" if you're on Jupyter Lab) menu on top.
- Select **"Restart and run all"**.
- Make sure no code cell throws an error.
- Failing to pass this step may result in significant loss of points since the autograder will fail to run.<br /><br />

![image.png]()

In [13]:
print("ğŸ¯ Restart and run all successful")

ğŸ¯ Restart and run all successful